/* Override browser autofill and input backgrounds */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px transparent inset !important;
    -webkit-text-fill-color: white !important;
    transition: background-color 5000s ease-in-out 0s;
}

input:-moz-autofill,
input:-moz-autofill:hover,
input:-moz-autofill:focus {
    box-shadow: 0 0 0 30px transparent inset !important;
    color: white !important;
}

/* Remove any background on focus */
input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus {
    background-color: transparent !important;
}